<footer>
	{% if site.your_name %}
	<p class="footerText"></p>
	{% endif %}
	<div class="footerIcons">

		{% if site.facebook_username %}
			<a href="https://facebook.com/{{ site.facebook_username }}">
				<span class="fa-stack fa-1x">
					<i class="socialIconBack fas fa-circle fa-stack-2x"></i>
					<i class="socialIconTop fab fa-facebook fa-stack-1x"></i>
				</span>
			</a>
		{% endif %}

		{% if site.twitter_username %}
			<a href="https://twitter.com/{{ site.twitter_username }}">
				<span class="fa-stack fa-1x">
					<i class="socialIconBack fas fa-circle fa-stack-2x"></i>
					<i class="socialIconTop fab fa-twitter fa-stack-1x"></i>
				</span>
			</a>
		{% endif %}

		{% if site.instagram_username %}
			<a href="https://instagram.com/{{ site.instagram_username }}">
				<span class="fa-stack fa-1x">
					<i class="socialIconBack fas fa-circle fa-stack-2x"></i>
					<i class="socialIconTop fab fa-instagram fa-stack-1x"></i>
				</span>
			</a>
		{% endif %}



	</div>
	<div class="footerLinks">
		{% if site.email_address %}
			For more info about the PTO contact:&nbsp;<a href="mailto:{{ site.email_address }}">{{ site.email_address }}</a>
		{% endif %}
	</div>
</footer>