<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body>
    <div class="imageWrapper">
            <div class="headerBackground">
               
                <div class="container">
                    <div class="pageInfo">
                        <div class="pageInfoContainer">
                        
                        
                            <h1 class="pageTagline">
                                {{ site.page_tagline }}
                            </h1>
                            <h2 class="pageDescription">
                                {{ site.page_description | markdownify }}
                            </h2>
                        </div>
                        
                    </div>
                    {% include header.html %}
                 
                    
                    {% include features.html %}
                    {% include footer.html %}
                    
                </div>
            </div>
        </div>
</body>
</html>